
.name{
     display: flex;
     flex-wrap: wrap;
}
article p{
    color: rgba(78, 76, 76, 0.884);
}
article{
    margin-right: 20px;
    margin-top: 20px;
}
article img{
    width: 400px;
    border-radius: 10%; 
}
article#basic:hover{
    filter: drop-shadow(0 0 0.75rem rgb(48, 43, 43));
    
}
section.under{
    background-color: rgb(194, 194, 224);
    border-radius: 5%;
    display: flex;
    width: 500px;
}
article#one{
    margin-right: 40px;
    width:100px ;
}
#two{
    margin-right: 100px;
}
    
