/* body{
   background-image: url(https://cdn.pixabay.com/photo/2016/04/15/11/48/hotel-1330850__480.jpg) !important;
   
}  */
#img{
    width: 100vw;
    height: 60vh;
}
.one{
    background: rgb(223, 215, 107);
    width: 800px; 
    border-radius: 10px;
    border: 2px rgb(190, 106, 76) solid;
}
.two{
    background: rgb(223, 215, 107);
    width: 200px;
    border-radius: 10px;
    border: 2px rgb(190, 106, 76) solid;
}
.three{
    background: rgb(223, 215, 107);
    width: 250px; 
    padding: 10px;
    border-radius: 10px;
    border: 2px rgb(190, 106, 76) solid;
}
article img#four,article img#five,article img#six,article img#seven{
    width: 200px !important;
    height: 200px !important;
    border-radius:50% !important;
    border: 3px rgb(190, 106, 76) solid;
}
#html{
        display: flex;
}
#dad{
    display: flex;
    margin:2px ;
} 
.two{
    margin-left: 2px;
}
#name{
    background-color:rgb(146, 141, 74);
}
